# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
build/
dist/
.npm
.eslintcache
